@using subreddit.Models

@model CommentTree

<div>
    <div style="padding-left: 1rem; border-left: 1px solid #dee2e6;">
        <strong>
            @Model.Root.Comment.Score 
            -
            <span>
                @Model.Root.Comment.Author
            </span>
        </strong>
        <span>
            -
        </span>
        <span>
            @Model.Root.Comment.PostedAt.ToString("u")
            UTC
        </span>

        <br/>

        <span style="white-space: pre-line">@Model.Root.Comment.Content</span>

        @foreach (CommentTree child in Model.GetChildren()) {
            <partial name="_Comment" model=child/>
        }
    </div>
</div>
