
<div class="text-center">
    <h1 class="display-1">
        /r/Planetside archive viewer
    </h1>

    <p>
        This data was pulled from <a href="https://reddit-top20k.cworld.ai/">https://reddit-top20k.cworld.ai/</a>
    </p>

    <p>
        Data is from the start of the subreddit until the end of 2022
    </p>

    <div>
        <h2>Search</h2>
        <form asp-controller="Home" asp-action="Search">
            <input class="form-control" name="q" type="text" />
            <input type="submit" class="form-control btn btn-primary" value="Search" />
        </form>
    </div>

    <hr class="border" />

    <div>
        <h2>View link</h2>
        <form asp-controller="Home" asp-action="Link">
            <input class="form-control" name="l" type="text" />
            <input type="submit" class="form-control btn btn-primary" value="Find post" />
        </form>
    </div>


</div>
